a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: cyan;
}

header p {
    font-family: Brush Script Std;
}

figure {
    float: left;
    margin-right: 15px;
}

img:hover {
    transform: scale(1.1);
    transition: 2s;
}

span {
    font-size: 20px;
}

span:hover {
    background: grey;
    cursor: pointer;
}

.clear {
    clear: both;
}

footer img {
    width: 5em;
}