* {
    color: white;
}

body {
    background: #312e2e;
}

.carousel-item img {
    width: 200px;
    height: 225px;
    cursor: pointer;
}

.info {
    width: 35%;
    text-align: center;
}

figure {
    border: 1px solid red;
    margin-left: 20px;
}

figure img {
    height: 34em;
    width: 100%;
}

footer img {
    width: 5em;
}