@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    text-decoration: none !important;
    list-style: none;
    font-family: 'Spartan', sans-serif;
}

.hover {
    transform: scale(1.1);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

.bodyAndroid {
    background-size: cover;
    color: white;
    margin: auto;
    text-align: center;
}

.topoAndroid {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px black;
    font-family: Arial;
    cursor: pointer;
}

.topoAndroid a {
    font-family: 'Lobster', cursive;
    color: greenyellow;
}

#menu ul {
    text-align: center;
    background: rgb(93, 247, 126);
    padding: 1%;
    margin: auto;
    width: 65%;
    border-radius: 20px;
}

#menu ul li {
    text-align: center;
    display: inline;
    padding: 0.3% 2%;
    border-radius: 20px;
    background-color: rgb(5, 160, 39);
    border: 1px solid black;
    margin: 1px 1%;
    font-size: 1.5em;
}

#menu li a {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 1em;
}

#menu li a:hover {
    background-color: yellowgreen;
    border-radius: 20px;
}

article {
    width: 90%;
    height: 100%;
    font-size: 32px;
    background: blue;
    border-radius: 10px;
    margin: 2% 2em;
}

article section p {
    text-align: center;
    margin-top: 2%;
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 33%;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

@media (max-width: 767.98px) {
    .row {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
}

.row img {
    height: 10em;
    width: 90%;
    cursor: pointer;
}

.templateAndroid p {
    text-transform: capitalize;
    text-align: center;
    background: yellowgreen;
    padding: 2%;
    font-size: 0.8em;
    border-radius: 10px;
    margin-bottom: 1.5%;
    color: white;
}

.templateAndroid p:hover {
    background-color: rgb(102, 139, 28);
    transition: 1s;
}

.footerAndroid {
    background: rgb(203, 245, 231);
    text-align: center;
    color: crimson;
}

footer img {
    width: 5em;
}