a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.hover {
    transform: scale(1.3);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

.bodyAndroid {
    background-size: cover;
    color: white;
    margin: auto;
    text-align: center;
}

.topoAndroid {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px black;
    font-family: Arial;
    cursor: pointer;
}

.topoAndroid a {
    color: greenyellow;
}

#menu ul {
    text-align: center;
    background: rgb(93, 247, 126);
    padding: 1%;
    margin: auto;
    width: 65%;
    border-radius: 20px;
}

#menu ul li {
    text-align: center;
    display: inline;
    padding: 0.1% 2%;
    border-radius: 20px;
    background-color: rgb(5, 160, 39);
    border: 1px solid black;
    margin: 1px 1%;
    font-size: 1.5em;
}

#menu li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1em;
}

#menu li a:hover {
    background-color: yellowgreen;
    border-radius: 20px;
}

.principalAndroid {
    width: 90%;
    height: 100%;
    font-size: 32px;
    background: blue;
    border-radius: 10px;
    margin: 2% 2em;
}

.templateAndroid {
    float: left;
    margin: 1em 1em;
}

.templateAndroid img {
    height: 13em;
    width: 8em;
    cursor: pointer;
    margin: 15px;
}

.templateAndroid p {
    text-transform: capitalize;
    text-align: center;
    background: yellowgreen;
    margin: 5px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.footerAndroid {
    clear: both;
    background: white;
    border: 2px solid red;
    text-align: center;
    width: 65%;
    color: black;
    border-radius: 15px;
    margin-left: 17em;
    font-size: 17px;
}