a {
    text-decoration: none;
    color: grey;
}

a:visited {
    color: grey;
}

ul {
    list-style: none;
}

.hover {
    transform: scale(1.3);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

body {
    background: linear-gradient(rgb(154, 228, 228), cyan, rgb(62, 116, 138)) no-repeat;
    background-size: cover;
    color: grey;
    margin: auto;
}

.topoJava {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.topoJava a {
    color: blue;
}

#menu ul {
    text-align: center;
    background: rgb(65, 45, 136);
    padding: 1%;
    margin: auto;
    width: 65%;
    border-radius: 20px;
}

#menu ul li {
    text-align: center;
    display: inline;
    padding: 0.1% 2%;
    border-radius: 20px;
    background-color: blue;
    border: 3px solid rgb(147, 116, 221);
    margin: 1px 1%;
    font-size: 1.5em;
}

nav#menu ul li a {
    color: white;
}

.menuUJava li a:hover {
    background-color: rgb(21, 65, 131);
    border-radius: 20px;
}

.principalJava {
    height: 100%;
    font-size: 32px;
    background: white;
    border: 1px solid black;
    margin: 1em 2em;
    border-radius: 20px;
}

.principalJava p {
    color: gray;
    text-transform: capitalize;
    text-align: center;
}

.templateJava {
    float: left;
    margin: 1em 1em;
}

.templateJava img {
    height: 8em;
    width: 8em;
    cursor: pointer;
    margin: 15px;
    border-radius: 20px;
}

.templateJava p {
    text-transform: capitalize;
    color: white;
    text-align: center;
    background: rgb(65, 45, 136);
    margin: 5px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.footerJava {
    clear: both;
    background: white;
    border: 2px solid red;
    text-align: center;
    width: 65%;
    border-radius: 15px;
    margin-left: 17em;
    font-size: 17px;
}