@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
* {
    text-decoration: none !important;
    list-style: none;
    font-family: 'Kalam', cursive;
}

.hover {
    transform: scale(1.1);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

body {
    background: linear-gradient(rgb(154, 228, 228), cyan, rgb(62, 116, 138)) no-repeat;
    background-size: cover;
    color: grey;
    margin: auto;
}

.topoJava {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 1px black;
    cursor: pointer;
}

.topoJava a {
    color: blue;
}

#menu ul {
    text-align: center;
    background: rgb(65, 45, 136);
    padding: 1%;
    margin: auto;
    width: 65%;
    border-radius: 20px;
}

#menu ul li {
    text-align: center;
    display: inline;
    padding: 0.1% 2%;
    border-radius: 20px;
    background-color: blue;
    border: 3px solid rgb(147, 116, 221);
    margin: 1px 1%;
    font-size: 1.5em;
}

nav#menu ul li a {
    color: white;
    font-family: ;
}

.menuUJava li a:hover {
    background-color: rgb(21, 65, 131);
    border-radius: 20px;
}

article {
    height: 100%;
    font-size: 32px;
    background: white;
    border: 1px solid black;
    margin: 1em 2em;
    border-radius: 20px;
}

article section p {
    text-align: center;
    margin-top: 2%;
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 50%;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

@media (max-width: 767.98px) {
    .row {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
}

.row img {
    height: 12em;
    width: 75%;
    cursor: pointer;
}

.templateJava p {
    text-transform: capitalize;
    color: white;
    text-align: center;
    background: rgb(65, 45, 136);
    padding: 2%;
    width: 72%;
    margin: auto;
    font-size: 0.8em;
    border-radius: 10px;
    margin-bottom: 1.5%;
}

.templateJava p:hover {
    transition: 1s;
    background-color: royalblue;
}

.footerJava {
    background: rgb(65, 45, 136);
    text-align: center;
    color: white;
}

footer img {
    width: 5em;
}