/*principal! */

* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.hover {
    transform: scale(1.1);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

body {
    background: white;
}

.topoPhpWeb {
    text-align: center;
    font-size: 4em;
    font-family: Arial;
    cursor: pointer;
}

.topoPhpWeb a {
    color: rgb(95, 78, 251);
}

#menu ul {
    text-align: center;
    background: rgb(78, 78, 202);
    padding: 0.9%;
}

#menu ul li {
    text-align: center;
    display: inline;
    margin: 1px 1%;
    font-size: 1.5em;
}

nav#menu ul li a {
    color: lightcyan;
    padding: 0.9% 2%;
    background-color: rgb(29, 29, 151);
}


nav#menu li a:hover {
    background-color: rgb(0, 183, 255);
}



.principalWebService{
    height: 100%;
    text-align: center;
    background-color: rgb(236, 251, 255);
    margin: 3% 3em;
}


.titleWebService{
    color:rgb(44, 29, 82);
    font-size: 2em;
}


.conteudoWebService p{
    background-color: darkblue;
    width: 85%;
    padding: 0.2em;
    border-radius: 20px;
    color:white;
    margin: 5% auto 2% auto;
    font-size: 2em;
}


.conteudoWebService p:hover{
background-color: rgb(51, 5, 83);
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 50%;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

@media (max-width: 767.98px) {
    .row {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
}

.row img {
    height: 20em;
    width: 75%;
    cursor: pointer;
}






.footerPhpWeb {
    background-color: darkblue;
    border: 1px solid black;
    width: 100%;
    color: white;
    text-align: center;
}


/*FIM PRINCIPAL*/


/*CEP WEBService*/


.principalcepService{
background-color: rgb(225, 248, 255);
margin-top: 2%;
bottom: 0px;
position: relative;
text-align: center;
}

.principalcepService section p{
font-size: 2em;
color: darkblue;
}

section.btnVoltar {
    margin-left: 5%;
    margin-top: 3%;
    text-align: start;
}

section.btnVoltar a{
    background-color: rgb(0, 32, 80);
    padding: 1.5%;
    color: white;
    border-radius: 20px;
}

form.formCep {
    text-transform: capitalize;
    color: chocolate;
    margin: 2% auto;
    width: 50%;
    text-align: center;
    font-size: 1.3em;
}

form.formCep h1{
    color: rgb(62, 14, 140);
    font-size: 1.5em;
}

form.formCep button{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    background: rgb(85, 0, 255);
    border-radius: 10px;
    color: rgb(200, 255, 0);
    height: 2em;
    width: 30%;
    font-size: 18px;
}

fieldset {
    border-radius: 20px;
    margin-top: 2%;

}

input {
    display: block;
    margin: auto;
    height: 3em;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
}


/*getCep*/
/*getCep e get all*/
/*getCep e get all*/
/*getCep*/
#getCep ul li,#getAll ul li{
    color:rgb(136, 143, 5);
    margin: 2% 0px;
    font-size: medium;
}



#getCep ul li span,#getAll ul li span{
    color:blue;
    font-size: large;
}



/*FIM CEP WEBService*/


/*Comeco BibliaService*/
.principalbibliaService{
    background-color:  rgb(236, 251, 255);
    text-align: center;
    margin-top: 2%;
}
.title{
font-size: 2em;
color:  color:rgb(44, 29, 82);

}


.bibliaTemplate {
    margin: 2% auto;
    padding: 0;
    width: 50%;
    background: darkblue;
    border: 3px solid red;
    border-radius: 15px;
}

.bibliaTemplate select {
    border-radius: 15px;
    background: red;
    padding: 20px;
    width: auto;
    color: white;
    margin: 2%;
    text-align: center;
}

h1.titulo {
    color: rgb(255, 255, 238);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

p.paragrafo {
    font-size: 1em;
    color: cyan;

    text-align: center;
    margin: 15px;
}


/*FIM da Bilia Service*/

footer img {
    width: 5em;
}