* {
    text-decoration: none !important;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hover {
    transform: scale(1.1);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

body {
    background: linear-gradient(rgb(91, 91, 232), lightcyan);
}

header.topoSharp {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 3px black;
    cursor: pointer;
}

.topoSharp a {
    color: rgb(255, 255, 255);
}

#menu ul {
    text-align: center;
    background: blue;
    padding: 0.9%;
    margin: auto;
    width: 65%;
    border-radius: 20px;
}

#menu ul li {
    text-align: center;
    display: inline;
    background: rgb(92, 94, 236);
    padding: 0.1% 2%;
    border-radius: 20px;
    margin: 1px 2%;
    font-size: 1.5em;
}

nav#menu ul li a {
    color: lightcyan;
}

nav#menu li a:hover {
    background-color: rgb(0, 183, 255);
    border-radius: 20px;
    padding: 0.1%;
}

.principalSharp {
    font-size: 2em;
    margin: 3% 3em;
    background-color: rgb(83, 83, 255);
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
}

.principalSharp p {
    margin-top: 2%;
    text-transform: capitalize;
    text-align: center;
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 33%;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

@media (max-width: 767.98px) {
    .row {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
}

.row img {
    height: 9em;
    width: 90%;
    cursor: pointer;
}

section p {
    text-transform: capitalize;
    background: blue;
    color: aqua;
    padding: 2%;
    font-size: 0.8em;
    border-radius: 10px;
    margin-bottom: 1.5%;
}

section p:hover {
    background-color: rgb(33, 6, 131);
    transition: 1s;
}

.footerSharp {
    background: blue;
    text-align: center;
    color: aqua;
}

footer img {
    width: 5em;
}