* {
    text-decoration: none !important;
    list-style: none;
}

.hover {
    transform: scale(1.3);
    transition: 2s;
}

.nohover {
    transform: scale(1.0);
    transition: 2s;
}

body {
    background: rgb(133, 118, 218) no-repeat;
    background-size: cover;
    margin: auto;
}

header.topoSharp {
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.topoSharp a {
    color: rgb(255, 255, 255);
}

#menu ul {
    text-align: center;
    background: rgb(127, 230, 216);
    padding: 0.9%;
    margin: auto;
    width: 65%;
    border-radius: 20px;
}

#menu ul li {
    text-align: center;
    display: inline;
    background: rgb(92, 94, 236);
    padding: 0.1% 2%;
    border-radius: 20px;
    margin: 1px 2%;
    font-size: 1.5em;
}

nav#menu ul li a {
    color: gold;
}

.menuUSharp li a:hover {
    background-color: rgb(0, 183, 255);
    border-radius: 20px;
    padding: 0.1%;
}

.principalSharp {
    height: 100%;
    font-size: 2em;
    margin: 2% 2em;
    border-radius: 20px;
    border: 2px solid black;
}

.principalSharp p {
    color: black;
    text-transform: capitalize;
    text-align: center;
}

.column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 33%;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.row img {
    height: 8em;
    width: 8em;
    cursor: pointer;
    margin: 15px;
}

section p {
    text-transform: capitalize;
    color: grey;
    text-shadow: 1px 1px black;
    text-align: center;
    background: rgb(127, 230, 216);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

section a:hover {
    background-color: blue;
}

.footerSharp {
    clear: both;
    background: white;
    border: 2px solid red;
    text-align: center;
    width: 65%;
    border-radius: 15px;
    margin-left: 17em;
    font-size: 17px;
}