* {
    margin: 0;
    padding: 0;
    list-style: 0;
    text-decoration: none !important;
}

* #template,
* #MenuUl,
* #cabeca,
* #main,
* #menu,
* #principal,
* #lateralDireito,
* #rodape {
    transition: all 1s linear;
}

img {
    cursor: pointer;
}

footer img {
    width: 5em;
}

.comHover:hover {
    transform: scale(1.1);
    transition: 2s;
}


/* page Inicial------------------------------------ */

.pageColorInicial {
    background-color: #89e0e5;
}

.bgNavInicial {
    background-color: #0a006d;
}

.colorUlInicial {
    background-color: #3326b9;
}

.templateInicial h1,
.templateInicial h4,
.templateInicial h5 {
    color: red;
}

.menuInicial li a:hover {
    background-color: #8a89e5;
}


/* --------fire---------------------------- */

.pageColorFire {
    background: #7e3606;
    color: rgb(92, 13, 53);
}

.bgNavFire {
    background: #ce602a;
}

.bgNavFire li a:hover {
    background: rgb(155, 92, 33);
}

.bgFire {
    background: #ca8e52;
}

.bgFireLateralEsquerdo {
    background-color: #d39b62;
}

.templateFire h1,
.templateFire h4,
.templateFire h5 {
    color: rgb(65, 4, 95);
}

.bgFireFooter {
    background-color: #7e3606;
}

.bgFireFooter p {
    color: yellow;
}


/* girls ------------------------------------------*/

.pageColorGirl {
    background: rgb(235, 218, 123);
    color: rgb(253, 242, 206);
}

header.pageColorGirl p a {
    color: rgb(167, 121, 6);
}

.bgNavGirl {
    background-color: darkgoldenrod;
}

.bgNavGirl li a {
    color: rgb(248, 248, 164) !important;
}

.bgNavGirl li a:hover {
    background-color: rgb(129, 94, 3);
}

.bgGirl {
    background: rgb(206, 158, 37);
}

.templateGirl h1,
.templateGirl h4,
.templateGirl h5 {
    color: rgb(242, 245, 92);
    text-shadow: 1px 2px black;
}

.bgGirlFooter {
    background-color: darkgoldenrod;
}


/* Boy ------------------------------------------*/

.pageColorBoy {
    background: white;
    color: rgb(214, 212, 198);
}

.bgNavBoy {
    background: #adadad;
}

.bgNavBoy li a:hover {
    background: grey;
}

.bgBoy {
    background: grey;
}

.templateBoy h1,
.templateBoy h4,
.templateBoy h5 {
    color: black;
}

.bgBoyFooter p {
    color: rgb(228, 205, 205);
}